<div class="container-fluid">
    <div class="row">

        <nav class="col-md-3 col-lg-2 d-md-block bg-dark sidebar vh-100">
            <div class="position-sticky pt-3">
                <h4 class="text-light text-center">Menu</h4>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link text-light" routerLink="/">
                            <i class="bi bi-house-door"></i> Accueil
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" routerLink="/import-electeurs">
                            <i class="bi bi-file-earmark-text"></i> Importation des electeurs
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" routerLink="/gestion-candidats">
                            <i class="bi bi-file-earmark-text"></i> Ajout de candidat
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" routerLink="/monitoring">
                            <i class="bi bi-bar-chart"></i> Statistiques
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="accueil-container">
                <h1>Bienvenue sur l'application de gestion des parrainages</h1>
            </div>
        </main>
    </div>
</div>